body {
    font-family: "Raleway" !important;
}

.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;   
    width: 100vw;
    height: 100vh;
    z-index: 2;
}

.welcome-page > .logo {
    width: 70%;
    margin-bottom: 50px;
}
a {
    color: grey;
    text-decoration: none;
}
.login {
    cursor: pointer;
}

.version {
    font-family: "Raleway" !important;
    position: fixed;
    bottom: 10px;
    right: 5%;
    font-size: 1rem;
}

.page {
    display: none;
    position: absolute;
}
